* {
  box-sizing: border-box;
}
.form__input {
  height: 40px;
  padding-left: 20px;

  border: 3px solid rgb(255, 238, 0);
  border-radius: 10px;
}
.form__select {
  max-height: 800px;
  width: 190px;

  box-shadow: 0.4em 0.4em 5px rgba(116, 211, 255, 0.5);
}
.cities {
  padding: 10px 15px;
}
.new-cities {
  background-color: rgb(160, 0, 160);
}
.weather__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}
.weather__img {
  width: 40%;
  margin: 5px;
}
.weather__temp {
  width: 100%;

  font-size: 50px;
}
